<% if(locals.success && success != ""){%>
<div class="alert alert-success" role="alert"><%=success%></div>
<%}%> <% if(locals.error && error != ""){%>
<div class="alert alert-danger" role="alert"><%=error%></div>
<%}%>
